<html>
<head>
    <title>Fairy Chess</title>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta16/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta16/dist/css/tabler.min.css">
</head>
<body class="theme-light">
  <script src="./dist/js/demo-theme.min.js?1668288743"></script>
  <div class="page">
    <!-- Navbar -->
    {% include 'header.html' %}
    <div class="page-wrapper">
      <div class="page-header d-print-none text-white">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <div class="page-pretitle">
                Fairy Chess Championship #3.27
              </div>
              <h2 class="page-title">
                Lobby 574358 - Match #6
              </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
              <div class="btn-list">
                <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                  <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-track-next" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 5v14l8 -7z"></path>
                    <path d="M14 5v14l8 -7z"></path>
                 </svg>
                  Next Match
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page body -->
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-deck row-cards">
          
            <div class="col-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-vcenter card-table">
                    <thead>
                      <tr>
                        <th>Position</th>
                        <th>Summoner</th>
                        <th>Augments</th>
                        <th>Champions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for summoner in info.summoners %}
                      <tr>
                        <td>
                          
                          <div class="avatar bg-blue text-blue-fg" data-demo-color="">
                              {{loop.index}}º
                          </div>
                        </td>
                        <td>
                          <div class="d-flex py-1 align-items-center">
                            <span class="avatar me-2" style="background-image: url({{ url_for('static', path=summoner.icon) }})">
                            </span>
                            <div class="flex-fill">
                              <div class="font-weight-medium">{{summoner.name}}</div>
                              <div class="text-muted"><a href="#" class="text-reset">{{summoner.email}}</a></div>
                            </div>
                          </div>
                        </td>
                        <td>
                          {% for augment in summoner.augments%}
                          <div class="avatar me-2" style="background-image: url({{ url_for('static', path=augment) }})" >
                          </div>
                          {% endfor %}
                        </td>
                        <td>
                          {% for champion in summoner.champions%}
                          <div class="avatar me-2" style="background-image: url({{ url_for('static', path=champion) }})" >
                          </div>
                          {% endfor %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
      
    </div>
  </div>
  <!-- Libs JS -->
  <script src="./dist/libs/apexcharts/dist/apexcharts.min.js?1668288743" defer=""></script>
  <script src="./dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1668288743" defer=""></script>
  <script src="./dist/libs/jsvectormap/dist/maps/world.js?1668288743" defer=""></script>
  <script src="./dist/libs/jsvectormap/dist/maps/world-merc.js?1668288743" defer=""></script>
  <!-- Tabler Core -->
  <script src="./dist/js/tabler.min.js?1668288743" defer=""></script>
  <script src="./dist/js/demo.min.js?1668288743" defer=""></script>


</html>