<link href="{{ url_for('static', path='css/adminlte.min.css?v=3.2.0') }}" rel="stylesheet">
<link href="{{ url_for('static', path='plugins/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" rel="stylesheet">

<title>{% block title %}{% endblock %}</title>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {% include 'navbar.html' %}
        {% include 'sidebar.html' %}
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>
        {% include 'footer.html' %}
    </div>
</body>

<script type="text/javascript" src="{{ url_for('static', path='js/adminlte.min.js?v=3.2.0') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='plugins/jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>