{% extends "base.html" %}

{% block title %}{{title}}{% endblock %} 

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h6 class="m-0">Contest List</h6>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Contest</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {% for contest in contest_list %}
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title">{{contest.title}}</h2>
                                    <p class="card-text">
                                        <h6>START TIME: {{ contest.timestamp  }}</h6>
                                        <h6>PLAYERS: {{ contest.start_players}}</h6>
                                        <h6>MATCHES PER STAGE: {{ contest.qtd_matches}}</h6>
                                    </p>
                                    <a href="/contest/{{contest.id}}" class="card-link">VIEW</a>
                                    <a href="/contest/{{contest.id}}" class="card-link">REGISTER</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}